body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
}

#health-bar-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

#health-bar {
    width: 100%;
    height: 100%;
    background-color: #0f0;
    transition: width 0.2s ease-in-out;
}