body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
}