body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}